mixin video(info)
    div
        h4
            a(href=`/video/${info.id}`)=info.title
        small=info.createdAt
        p=info.description
        ul
            li #{info.rating} / 5
            li #{info.views} views
