extends base.pug


block content
    if errorMessage
        h4 #{errorMessage}
    form(method ="POST")
        div
            h4 Name
            input(placeholder="Name", name="name", type="text", required, value=loggedInUser.name)
        div
            h4 Email 
            input(placeholder="Email", name="email", type="email", required, value=loggedInUser.email)
        div
            h4 Username
            input(placeholder="Username", name="username", type="text", required, value=loggedInUser.username)
        div
            h4 Location
            input(placeholder="Location", name="location", type="text", value=loggedInUser.location)
        input(type="submit", value="Update")