extends base.pug


block content
    div.profile__data
        if loggedInUser.avatarUrl
            if loggedInUser.avatarUrl.includes("github")
                img.header__avatar(src=loggedInUser.avatarUrl, width="100", height="100")
            else
                img(src="/" + loggedInUser.avatarUrl, width="100", height="100")   
        else
            small You did not upload avatar image yet. 
    if errorMessage
        h4 #{errorMessage}
    form(method="POST", enctype="multipart/form-data").edit-profile__form
        div
            label(for="avatar") Avatar
            input(type="file", id="avatar", name="avatar", accept="image/*")
        div
            label(for="name") Name
            input(placeholder="Name", id="name", name="name", type="text", required, value=loggedInUser.name)
        div
            label(for="email") Email 
            input(placeholder="Email", id="email" name="email", type="email", required, value=loggedInUser.email)
        div
            label(for="username") Username 
            input(placeholder="Username", id="username" name="username", type="text", required, value=loggedInUser.username)
        div
            label(for="location") Location 
            input(placeholder="Location", id="location", name="location", type="text", value=loggedInUser.location)
        input(type="submit", value="Update")
    if !loggedInUser.socialOnly
        div.edit-profile__password
                a(href="change-password") Change Password &rarr;
        