extends base.pug
include mixins/video

block content
    ul
        li #{video.views} #{ video.views <= 1 ? "view" : "views"}
        li #{video.comments} #{ video.comments <= 1 ? "comment" : "comments"}
    h3
        a(href=`${video.id}/edit`) Edit Video &rarr;
    
    
