extends base.pug
include mixins/video

block content
    div#videoContainer
        video(src="/" + video.fileUrl)

        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currenTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand

block scripts
    script(src="/static/js/videoPlayer.js")
    //-
        div 
            small=video.createdAt
            br
            small Uploader: 
            samll
                a(href=`/user/${video.owner.id}`) #{video.owner.name}
            p=video.description
        ul
            li #{video.views} #{ video.views <= 1 ? "view" : "views"}
            li #{video.comments} #{ video.comments <= 1 ? "comment" : "comments"}
        h4 hashtags
        nav
            each hashtag in video.hashtags
                small=hashtag
        if loggedInUser && String(loggedInUser._id) === String(video.owner.id) 
            h4
                a(href=`${video.id}/edit`) Edit Video&rarr;
                br
                a(href=`${video.id}/delete`) Delete Video&rarr;

    
    
    
